@font-face {
    font-family: 'montserrat';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('./Assets/Font/montserrat-v14-latin-regular.woff') format('woff');
    }
  

*{
    font-family: 'montserrat';
}